.wrapper {
 margin: 0 auto;
 padding: 0 1rem;
 max-width: 1140px;
}
@media (min-width: 1140px) {
 .wrapper {
  padding: 0;
 }
}
.check {
 position: relative;
 display: flex;
 align-items: center;
 margin-bottom: 4px;
 cursor: pointer;
 transition: 0.1s linear;
 &__checkbox {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid var(--clr-1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 &__checkbox path {
  stroke: var(--clr-3);
 }
 &__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
 }
 &__text {
  font-size: 1.2rem;
  margin: 0;
  margin-left: 0.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 }
}

.products {
 display: grid;
 grid-gap: 2rem;
 grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.cart {
 height: 2rem;
 width: max-content;
 padding: 1rem 2rem;
 background-color: var(--clr-1);
 position: fixed;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 display: flex;
 gap: 1rem;
 align-items: center;
 border-radius: 0.4rem 0.4rem 0 0;
 &__list {
  display: flex;
  gap: 1rem;
  list-style: none;
 }
 &__list > * {
  width: 3rem;
 }
}
.shopping-cart__item {
 display: flex;
 gap: 1rem;
 img {
  width: 5rem;
  height: 5rem;
 }
 &-desc {
  display: grid;
 }
}
// header
h1 span {
 color: var(--clr-3);
}
